<div id="table">
  <p-table [value]="launches" [scrollable]="true" [scrollHeight]="'flex'">
    <ng-template pTemplate="header">
      <tr>
        <th>Flight number</th>
        <th>Flight name</th>
        <th>Flight Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-launch>
      <tr>
        <td><a [routerLink]="['/spacex/launch',launch.id]"> 🚀 {{ launch.flight_number }}</a></td>
        <td>{{ launch.name }}</td>
        <td>{{ launch.date_utc |date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
