<p-table [value]="rockets">
  <ng-template pTemplate="header">
    <tr>
      <th>Rocket name</th>
      <th>First Flight</th>
      <th>Country</th>
      <th>Company</th>
      <th>Cost per launch</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rocket>
    <tr>
      <td>{{rocket.name}}</td>
      <td>{{rocket.first_flight}}</td>
      <td>{{rocket.country}}</td>
      <td>{{rocket.company}}</td>
      <td>{{rocket.cost_per_launch}}</td>
    </tr>
  </ng-template>
</p-table>
